services:
  app:
    build: .
    container_name: cakephp_app
    working_dir: /var/www/html
    volumes:
      - ./app:/var/www/html
    networks:
      - cakephp_network
    depends_on:
      - db

  nginx:
    image: nginx:alpine
    container_name: cakephp_nginx
    ports:
      - "8080:80"
    volumes:
      - ./app:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - cakephp_network
    depends_on:
      - app
  db:
    image: postgres:15
    container_name: cakephp_db
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - cakephp_network

volumes:
  pg_data:
  
networks:
  cakephp_network:
