
// Import Bootstrap variables and components

// Custom styles
body {
  background-color: #212529;
}
$primary: #337AB7;
.border-right{
  border-right:1px solid white;
}
.padding-xs { padding: .25em; }

// Colore personalizzato sempre applicato
.primary {
  color: $primary !important;
}