
// Import Bootstrap variables and components

// Custom styles

$primary: #05070a;
.primary{
  background-color: $primary !important;
}
body {
  background-color:$primary!important;
}

li {
  display: flex;
  justify-content: center;
}
.border-right{
  border-right:1px solid white;
}

.shadow-sm{
  box-shadow: 0px -3px 21px white !important;
}

.padding-xs { padding: .25em; }

.cyber-header{
  font-family: 'Orbitron';
  color: #00f0ff;
}

.cyber-subheader{
  font-family: 'Michroma';
  color: white;
  text-shadow: 0 0 5px white;
}


.cyber-text {
  color: #00f0ff;
  text-shadow: 0 0 5px #00f0ff, 0 0 15px #0047ff;
}

/* Кнопка с эффектом скошенных углов */
.cyber-button {
  font-family: 'JetBrains Mono', monospace;
  background: transparent;
  color: #00ff9d;
  border: 1px solid #00ff9d;
  padding: 15px 30px;
  clip-path: polygon(15% 0, 100% 0, 100% 75%, 85% 100%, 0 100%, 0 25%);
  cursor: pointer;
  transition: all 0.3s;
  text-transform: uppercase;
}

.cyber-button:hover {
  background: rgba(0, 255, 157, 0.1);
  box-shadow: 0 0 15px #00d2ff;
  color: #00d2ff;
  border-color: #00d2ff;
}

/* Таблица в стиле терминала */
.cyber-table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'JetBrains Mono', monospace;
  color: #e0e6ed;
  --bs-table-bg: $primary !important;
}

.cyber-table th {
  border-bottom: 2px solid #00d2ff;
  padding: 12px;
  text-align: left;
  color: #00d2ff;
  text-transform: uppercase;
}

.cyber-table td {
  padding: 10px;
  color: white !important;
  border-bottom: 1px solid rgba(0, 210, 255, 0.1);
}

.cyber-table tr:hover {
  background: rgba(0, 255, 157, 0.05) !important;
}

.cyber-logo {
  animation: blink 3s infinite;
  font-family: 'Orbitron', sans-serif;
  color: #00ff9d;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 0 0 10px #00ff9d;
  width: 155px !important;
}

.cyber-logo img, svg{
  width: 100% !important;
}

@keyframes blink {
  0%, 18%, 22%, 25%, 53%, 57%, 100% { opacity: 1; }
  20%, 24%, 55% { opacity: 0.7; text-shadow: none; }
}

